html,
body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f8fa;
}

.wrap {
    min-height: 100%;
    height: auto;
    padding: 0 0 0px;

}

h3 {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.navbar li a, .navbar .navbar-brand {
    color: #FBFCFD !important;

}

.navbar-inverse {
    background-color: #2E3A3F;
    border: 0;

}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #c4dfff !important;
    background-color: #2c363b !important;;
    border-radius: 10px;
}

.padding-wrapper-fix {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;

}

.backgroung-top {
    background-color: #2E3A3F;
    color: #FBFCFD;
    padding-top: 9%;
    padding-bottom: 7%;
    margin-bottom: 2%;

}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.avatar {
    width: 200px;
    height: 200px;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.row {
    margin-bottom: 3%;
}

.avatar-small {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;

    object-fit: cover;
    object-position: center;
    max-width: 75px;
    max-height: 75px;

}

.avatar-listFriend {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

.thumbnail-color {
    background-color: #fefff5;
    border-color: #d1dfe6;

}

.row-photo {

    position: absolute;
}

.thumbnail-img {
    position: relative;
    display: block;
}

.img-center {
    margin: 0 auto;

}

.cos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.aside {
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2E3A3F;

}

.all-content {
    margin: 30px 22%;

}

.aside-ul {
    position: absolute;
    height: 200px;
    top: 10%;
    right: 10%;

}

.aside a, a:hover {
    color: #FBFCFD !important;
}

.aside a:hover {
    color: #c4dfff !important;
    background-color: #2c363b !important;
    border-radius: 10px;
}

a:hover {
    color: #4da3ff !important;
    text-decoration: none;
}

.dropdown-messages {
    background-color: #2E3A3F;
    color: white;
    padding: 10px;
    text-align: center;
    width: 200px;
    max-height: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Track */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #354247;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.dropdown-messages::-webkit-scrollbar-thumb {
    background: #4da3ff;
}

.dropdown-messages-text {
    font-weight: bold;
}

.btn-confirm {
    background-color: #4CAF50; /* Green */
}

.btn-color {
    background-color: #354247;

}

.title a {
    color: black;
}

.invited {
    position: relative;
    background-color: #354247;
    color: #FBFCFD !important;
    top: 10px;
}

.label-info {
    background-color: #99c9ff;
    position: absolute;
    left: 8px;
    top: -5px;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 10px;
}

.camera-brand-button {
    display: inline;
    margin: 3px;
    float: left;
}

.unlike-button {
    display: none;
}

.photo-radio {
    margin: 10px;
}

div.required label.control-label:after {
    content: " * (wymagane)";
    color: #4da3ff;
}